body {
    font: 300 18px / 1.6 em Roboto, Arial, sans-serif;
    color: #7c8ca0;
    margin: 0;
    /*tutaj sam doodalem zobaczyc czy nie rzutuje na inne */
    padding: 0;
    max-width: 100%;
}


/* LINK */

a {
    color: #7c8ca0;
    text-decoration: none;
}

a:hover {
    opacity: 0.9;
}


/* IMAGES */

img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */

.btn {
    display: inline-block;
    color: #0149a1;
    background-color: #ffffff;
    padding: 24px 70px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2em;
    border-radius: 30px;
}

.btn-primary {
    color: #ffffff;
    background-color: #ff2d55;
}


.btn-creativity {

    width: 103px;
    height: 18px;
    color: #ffffff;
    font-size: 16px;
    background-color: #0149a1;
    box-shadow: 0 0 134px 27px #ffffff;
    border-radius: 30px;
    text-align: center;


}

.btn-creativity:hover {
    opacity: 1;
}



/* GRID */

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

/* PAGE HEADER */

.page-header {
    padding: 25px 0;
    border-bottom: 1px solid #e4e6ea;
}

.page-header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand,
.brand img {
    display: block;
}

/* MENU */

.menu-items {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    align-items: center;
}

.menu-items li {
    margin: 0 4px;
    display: inline-block;
}



.menu-items li a {
    padding: 16px 25px;
    display: inline-block;
    color: #5d6981;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 400;
}

.menu-items li a:hover {
    cursor: pointer;

}

.menu-items .active {
    border-radius: 36px;
    border: 1px solid #9fabba;
}


/* MENU ICON */

.menu-items .menu-icon {
    margin: 0 8px;
}

.menu-items .menu-icon a {
    background-repeat: no-repeat;
    height: 46px;
    width: 46px;
    padding: 0;
}

.facebook-icon {
    background-image: url(../img/facebook-icon.png);
}

.twitter-icon {
    background-image: url(../img/twitter-icon.png);
}

/* ----------------------------------------------- */

/* SECTION-PAGE=-SECTION */

/* ----------------------------------------------- */

.page-section {
    background-color: #ffffff;
    background-image: linear-gradient(to top, #edeff1 0%, #edeff1 1%, #ffffff 24%, #e2e4e8 31%, #ffffff 100%);
}

/* ----------------------------------------------- */

/* SECTION-INTRO SECTION */

/* ----------------------------------------------- */

.intro-section {
    padding: 135px 0 0 0;
}


/* ----------------------------------------------- */

/* SECTION-HEADER */

/* ----------------------------------------------- */

.section-header {
    text-align: center;
}

.section-header h2 {
    color: #0149a1;
    font-size: 72px;
    font-weight: 700;
    margin: -50px 0 -50px;
}

.section-header p {
    color: 5d6981;
    font-size: 36px;
    line-height: 1.3em;
    font-weight: 100;
    margin: 0;
    padding: 30px;
    font-weight:normal; 
}



/* ----------------------------------------------- */

/* SECTION-INTRO-CTA */

/* ----------------------------------------------- */

.intro-cta {
    text-align: center;
    margin-top: 105px;
    margin-bottom: 115px;
}

/* ----------------------------------------------- */

/* SECTION-INTRO-VIDEO */

/* ----------------------------------------------- */

section .intro-video{
    background-color: #e9ebee;
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;

    background: url('chat.png') no-repeat top left, url('light-bulb.png') no-repeat top right;
}

.intro-video {
    
    
}


/* ----------------------------------------------- */

/* SECTION INTRO-VIDEO-IMAGE */

/* ----------------------------------------------- */

.intro-video-image {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 1094px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.intro-video-image .btn {
    position: absolute;
    top: 36%;
    left: 41%;
}

/* ----------------------------------------------- */

/* SECTION-FEATURE-BOXES */

/* ----------------------------------------------- */

.feature-boxes > .container {
    display: flex;
    justify-content: space-between;
}

.feature-box {
    flex-basis: 23%;
    text-align: center;
}

.feature-box img {
    margin-bottom: 55px;
}

.feature-box h3 {
    margin: 0 0 25px;
    color: #5d6981;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.6em;
}

.feature-box p {
    margin: 0 0 130px;
}


/* ----------------------------------------------- */

/* SECTION-CREATIVITY*/

/* ----------------------------------------------- */

.section-creativity > .container-creativity {
    background-image: url(../img/creativity.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 605px;
    max-width: 100%;
    margin: 0;

    position: relative;
}

.section-creativity .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ----------------------------------------------- */

/* SECTION-WORK */

/* ----------------------------------------------- */

.section-work {
    background-color: #0149a1;
    text-align: center;
}

.section-work > .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100vh;
}

.section-work h2 {

    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    margin: 0;
    padding: 125px 0 0;
}

.section-work h3 {
    color: #5483bb;
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 85px;
    padding: 0;
}

.section-work--1 img {
    width: 517px;
    height: 229px;
    margin: 45px 0 0;
}

.section-work--2 {
    display: block;
    width: 559px;
    height: 300px;
}

.section-work--2 p {
    margin: 0 0 55px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: start;
}

.section-work .btn-work {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -7%);
    margin: 100px 0 130px;
}


/* ----------------------------------------------- */

/* SECTION-SLIDER */

/* ----------------------------------------------- */

/* Section slider */

.section-comment .container {
    position: relative;
    background-color: #ffffff;
    max-width: 100%;
    height: 650px;
    /*    margin-bottom: 100px;*/
}

.container > .slider img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    margin-top: 105px;

}


.container > .slider #left-arrow {
    position: relative;
    top: 0%;
    left: 10%;
    transform: translate(-163%, 157%);
}

.container > .slider #right-arrow {
    position: relative;
    top: 0%;
    right: 0%;
    transform: translate(350%, 162%);
}


.container > .slider p {
    margin: 0 auto;
    width: 470px;
    height: 143px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    text-align: center;

}

.container > .slider p:last-child {
    margin: 0 auto;
    text-align: center;
    margin-top: -40px;
}

.slider p a {
    text-decoration-line: underline;
}

.container > .slider img.people-bullets {
    position: absolute;
    top: 60%;
    margin: 100px 0 0;
    padding: 0 0 80px;
}


/* ----------------------------------------------- */

/* SECTION-TEAM */

/* ----------------------------------------------- */

.section-team {
    background-color: #edeff1;
    height: 1000px;
    /*max-width: 100%;*/
    /* margin-bottom: 125px; */
}

.section-team .container {
    position: relative;
}

.section-team--1 {
    text-align: center;

}

.section-team--1 h2 {
    color: #0149a1;
    font-size: 72px;
    font-weight: 700;
    padding: 100px 0 0;
    margin: 0 0 -20px;
}

.section-team--1 h3 {
    color: #7c8ca0;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    margin: 0 0 100px;
    padding: 0;
}


.section-team .container > .feature-teams {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.feature-team {
    flex-basis: 23%;
    text-align: center;
}

.feature-team h3 {
    color: #5d6981;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    margin: 50px 0 26px;
}

.feature-team p {
    color: #7c8ca0;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding: 0 0 90px;
}

.section-team .btn-primary {
    position: absolute;
    top: 104%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 125px;
}



/* ----------------------------------------------- */

/* SECTION-MAP*/

/* ----------------------------------------------- */

.section-map > .container-map {
    background-image: url(../img/map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 605px;
    max-width: 100%;
    margin: 0;
    position: relative;
}

.section-map img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ----------------------------------------------- */

/* FOOTER */

/* ----------------------------------------------- */


footer {
    background-color: #0149a1;
}
.page-footer {
   background-color: #0149a1;
}

.page-footer .container__footer {
    display: grid;
    grid-gap: 20px;
    grid-column: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-left: 130px;
    margin-bottom: 135px;
    padding: 90px;
    list-style: none;
}

nav.footer-list > ul.footer-wrapper {
    list-style: none;
}

.container__footer h3,
.container__footer p {
    padding-bottom: 135px;
}

.container__footer a {
    color: #ffffff;
}


.footer-text {
    text-align: center;
    padding-bottom: 135px;
    color: #ffffff;
}


.footer-text p .text {
    font-weight: bold;
}


/* ----------------------------------------------- */

/* MY-FOOTER */

/* ----------------------------------------------- */



.page-myfooter {
    padding: 2em 1.5em;
    background:  #e9ebee;
    color: #0149a1;
    text-align: right;
}

.page-myfooter p {
	margin: 0 auto
}

.page-myfooter p  a {
  color: #0149a1;
}

.page-myfooter p  a:hover {
  opacity: 0.5;
}